/*Stylesheet by Stephen L. Patterson*/

html, body, .container {
    background-color: #d2be96;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    position: relative;
}

#title_block {
    float: right;
    position: absolute;
    top: 1%;
    right:.5%;
    z-index: 500;
    width: 600px;
    border-radius: 15px;
    border: 2px solid #463d3c;
    background-color: whitesmoke;
    text-align: center;
}

#title_block h3 {
    margin-top: 8px;
}
#title_block p {
    margin-top: -20px;
    font-size: 17px;
}

#column1 {
    height: 100%;
}

#column2 {
    height: 100%;
}

#mapid {
    margin: 10px;
    height: 69%;
    border-radius: 15px;
    /*position: relative;*/
    z-index: 400;
    border: 2px solid #463d3c;
    box-shadow: 5px 5px 5px #888888;
}

#footer {
    border-radius: 15px;
    /*overflow: auto;*/
    margin: 10px;
    margin-top: 1.5%;
    height: 30%;
    background: #fafafa;
    padding-left: 20px;
    padding-top: 5px;
    overflow: scroll;
}
#footer span {
    font-size: 10px;
    position: absolute;
    bottom: -36px;
    padding: 20px;
}

table{
    border: 1px solid black;
    padding-right: 20px;
    padding-left: 5px;
    width: 98%;
    /*border-collapse: separate;*/
    bording-spacing: 100px 0;
}
td {
    border: 1px solid black;
    padding: 10px 0;
    padding-left: 20px;
    font-size: 17px;
}


.row-fluid {
    height: 100%;
}

#panel1, #panel2 {
    margin: 10px;
    border-radius: 15px;
    height: 100%;
    border: 2px solid #463d3c;
    box-shadow: 5px 5px 5px #888888;
}

#panel1 {
    overflow: auto;
}

#radio_form {
    padding-left: 25px;
    padding-top: 10px;
}

input[type=radio] {
    /*margin-bottom: 5px;*/
    /*line-spacing: 18px;*/
    border: 0px;
    width: 11%;
    height: 1.2em;
}
#radio_form p {
    display: inline;
    padding-left: 5px;
    max-font-size: 16px;
    min-font-size: 9px;
}



